{
  "presets": [
    ["@babel/preset-env"]
  ],
  "plugins": [
    "lodash",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
