{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "chrome": true
  },
  "env": {
    "jest": true,
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["info", "error"] }],
    "semi": ["error", "never"],
  }
}
